.form-columns{
    display: flex;
    gap: 2rem;
}

#first{
    display: flex;
    flex-direction:column;

}

#second{
    display:flex;
    flex-direction:column;
}

button{
    background-color: green;
    color:white;
    border: 20px;
    
}

span{
    color:green;
    font-weight:bold;
}